body {
    background-color: #183046;
}

#app {
    max-width: 640px;
    margin: 2rem auto 4rem auto;
}

h1 {
    color: #ffffff;
    text-align: center;
}

img {
    max-width: 100%;
}

.article {
    background-color: #ffffff;
    border-radius: .5rem;
}

#filters {
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 1.5rem;
    margin-top: 1.5rem;
}

#select-tags {
    text-transform: capitalize;
}